
<div class="login">
  <div class="auth_form">
    <%= form_for :user, url: '/users' do |f| %>
        <%= f.text_field :pseudo, :placeholder => 'Votre pseudo (vous allez apparaître sous ce nom' %>
        <%= f.text_field :first_name, :placeholder => 'First Name' %>
        <%= f.text_field :last_name, :placeholder => 'Last Name' %>
        <%= f.text_field :email, :placeholder => 'Email' %>
        <%= f.password_field :password, :placeholder => 'Password' %>
        <%= f.submit "S'inscrire'", :class => "btn" %>
    <% end %>
  </div>
</div>