<h1><%= @post.title  %></h1>

<%= @post.content %>

<div class="menu_post">
  <p>
    <%= link_to 'Editer', edit_post_path(@post) %> |
    <%= link_to 'Retour', posts_path %> |
    <%= link_to 'Supprimer', @post , method: :delete %>
  </p>
</div>

<p>
  <button class="button share_twitter"  data-url="https://www.grafikart.fr/formations/git/gitkraken" style="background-color: #55ACEE">
    Partager sur twitter
  </button>

  <button class="button share_facebook" data-url="https://www.grafikart.fr/formations/git/gitkraken" style="background-color: #4C67A1">
    Partager sur facebook
  </button>
</p>



<h2>Commentaires</h2>
<% @post.comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p><%= time_ago_in_words comment.created_at  %> ago</p>
    <p><%= link_to 'Supprimer commentaire', [@post,comment] , method: :delete %></p>
<% end %>

<a href ='#' id="show-comment" class="btn"> Donner votre avis !</a>

<div class="new_comment">
  <p>
    <%= form_for [@post, @post.comments.build] do |f| %>
       <p><%= f.text_area :content, :size => '40x10' %></p>
       <p><%= f.submit "Valider" %></p>
    <% end %>
  </p>
</div>

<script src="social.js"></script>



