   <header>
     <div id="titre_principal">
       <img src="#" alt="Logo du blog" id="Logo"/>
       <h1>Blog de David Audouze</h1>
       <h2> Un blog haut en couleur</h2>
     </div>

     <nav>
       <ul>
         <li><%= link_to 'Accueil', posts_path %></li>
         <li><a href="#">Contact</a></li>
         <% if current_user %>
         <li><%= current_user.pseudo %></li>
             <li><%= link_to "Deconnexion", logout_path, method: "delete" %></li>
         <% else %>
             <li><%= link_to "Se connecter", login_path %></a></li>
             <li><%= link_to "S'inscrire", signup_path %></a></li>
         <% end %>

       </ul>
     </nav>
   </header>

